@import url("../skeleton/css/skeleton.css");
body {
background-image: url('../dog_blur.png');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
color: white;
-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
  cursor:default;
}
h1.logo{
text-align: left;
font-weight: 500;
}
.dogdata::selection{
background-color:red;
}
.dogdata::-moz-selection{
background-color:red;
}
.dogdata img{
width:10%;
height:10%;
cursor:crosshair;

}
.dogdata p.dogname{
font-weight:bold;
}
.dogdata .dogd{
background-color:gray;
}